* {
    color: black;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f3d0a4;
}

header{
    margin-bottom:0px;
    padding: 0px;
}

#head{
    height: 500px;
    margin-bottom:200px;
}

#nav-bar{    
    position: fixed;
    top:0;
    width: 100%;
    background: linear-gradient(-45deg,#cea787,#c59d7f);
    z-index: 50;
    max-height: 200px;
    overflow:scroll;
    
}
#logo-container{
    min-width: 125px;
    height: 125px;
}

#logo:hover{
    width: 110px;
    height: 110px;
}

#nav-list{
    width: 100%;
    text-align: center;
    text-transform:uppercase;
}
#nav-list li{
    margin: 30px;
    padding-top: 10px;
    width: 200px;
    height: 30px;
}

#nav-list li:hover{
    padding: 0;
    font-size: larger;
    background-color: #f3d0a4;
}

#head td {
    text-align: center;  
}

nav{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
nav li{
    list-style-type: none;
    display: inline-block;
}

#search-box input{
    margin: 30px;
}


#banner{
    position: relative;
    top:125px;
    background: url(pexels-pixabay-59989.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#title-container{
    padding: 5px;
    position: sticky;
    top: 20%;
}

label,h1{
    font-weight: bolder;
    text-shadow: 1px 1px 2px white;
    margin: 5px;
    font-family:'Times New Roman', Times, serif;

}

#text-drop{
    text-align: center;
    position: sticky;
    bottom: 50%;
    z-index: -1;
    height: 150px;

}



#animation{
    margin: 0;
    text-align: center;
    bottom: 0;

}



#animation img{
    height: 500px;
    width: 500px;
}

main{
    background-color: #eac69d;
    padding: 50px 0px;
    margin: 0 75px;

}

section{
    display: flex;
    justify-content: space-around;
    margin: 150px;
    overflow: scroll;
    text-align: center;

}

main table{
    background: linear-gradient(-45deg, #e1bc95, #d8b18e);
    border-radius: 50px;
    padding: 30px;

    
}

.image-container{
    width: 500px;
    height: 500px;
}

.article-container{
    width: 500px;
    height: 500px;

}

footer{
    margin: 100px 0px;
    background-color: #c59d7f;
    text-align: center;
}

#foot-table{
    display: flex;
    justify-content: space-around;
}
#fdb{
    padding: 50px;
}

#space{
    width: 5%;
}
#media ul{
    list-style-type: none;
}

.logo{
    width: 25px;
    height: 25px;
}

