*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;


}

html{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 1, 15);
  overflow: scroll;
}

input{
  color: black;
}

h1{
  font-size: 64px;
  font-weight: bolder;
}


h1,h2,h3,h4,h5,h6{
  text-align: center;
  margin: 5px;

}

#nav-container{
  margin: 0;
  top:0px;
  background-color: rgb(0, 11, 22);
  height: 50px;
  position: fixed;
  border: 1px black solid;
  width: 100%;
  z-index: 30;
}
nav{
  background-color: rgb(0, 11, 22);
  position: fixed;
  top:0px;
  width: 100%;
  display: block;
  z-index: 30;
  height: 100px;
  border-radius: 50px;
}

nav ul{
  position: relative;
  bottom: 30px;
  text-align: center;
  margin-top: 1%;
  min-width: 1000px;
  max-height: 30px;
  overflow:hidden;
  z-index: 30;

}

nav ul li{
  display: inline-block;
  font-size: large;
  font-weight: bolder;
  margin:2px 2%;
}

nav ul li :hover{
  background-color: rgb(0, 36, 93);
}

#mylogo{
  display: inline-block;
  border: 2px white solid;
  width: 90px;
  margin: 10px;
}

header{
  position: absolute;
  top:100px;
  display: block;
  width: 100%;
  z-index: -10;
  height: 500px;
  background-image: url(Media/480530.png) ;
  background-size: cover;

}

main{
  position: relative;
  top: 650px;
  background-color: black;
  z-index: 0;
  padding: 50px;
}

#header-container{
  height: 650px;
  background-color: black;
  position: absolute;
  width: 100%;
  z-index: -50;
}

header h1{
  position: sticky;
  top: 25%;
  background-color: black;
  width: fit-content;
  margin: 0 auto;
  color: aquamarine
}

h4{
  position: sticky;
  top: 400px;
  color: aquamarine;
  background-color: black;
  width: fit-content;
  margin: 0 auto;
}

section{
  background-color: rgb(0, 11, 22);
  padding-top: 40px;
  margin-bottom: 300px;
}

.left-side-text{
  display: inline-block;
  position: relative;
  left: 450px;
  bottom: 200px;
  max-width: 50%;
  border: 1px white solid;
}
.right-inline-image{
  display: inline-block;
  position: relative;
  left: 50px;
  max-width: 50%;
}
.right-side-text{
  display: inline-block;
  position: relative;
  right: 0px;
  max-width: 50%;
}
.left-inline-image{
  display: inline-block;
  position: relative;
  left: 600px;
  max-width: 50%;
  bottom: 200px;
  border: 1px white solid;
}

