*{
  /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
  color: lightgreen;
  font-weight: bolder;  
}

/*
==============================================================================================
block-elements 
---------------
*/
body{
  background-image: url("Media/480530.png");
  background-color:  ;
  width: 80%;

}

header{ 
  background-color: black
}

div{

}

form{
  background-color:  ;
  width: 80%;
}

nav{
  background-color:  ;
  width: 80%;
}

ul{
  background-color:  ; 
  width: 80%;
  
}

main{
  background-color: 
}

section{
  background-color:;
  opacity:
}

article{
  background-color:   ;
  width: 80%;
}

ol{
  background-color:  ; 
  width: 80%;
}

/*
=============================================================================================
medias
--------
*/
img{
  

}

img:hover{
  border:1px solid blue;
  

}

img:focus{
  border:1px solid blue;
}

/*
=============================================================================================
inline-elements
---------------
*/
label{
  text-transform: uppercase;

}

input{

}

input[type~="submit"]{

}

input:active{
  border:1px solid blue;

}

li{

}

a{

}

a[href*="izy"]{

}

a:hover{

}

a:visited{

}

h1{
  text-transform: uppercase;
}

h4{
  text-transform: uppercase;

}

span{

}

hr{
  width:200%;

}

h2,h3{
  text-transform: uppercase;
  text-align: center;
}

/*h3{
  text-transform: uppercase;
}*/

p{
  color:light-green;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font:;
  font-size:18px;
  font-weight: bolder;
}

/*
=============================================================================================
Tables
--------
*/

table{
  border: 1px solid green

}
tr{

  border: 1px solid green
}
/*
=============================================================================================
 Classes
---------
*/
.media{

}

.logo{
  

}

.button{

}

.content-container{
  margin: 10px;
  padding: 10px;

}

.section-title{

}

.title{

}

.title-description{

}

.left-inline-image{
}

.right-side-text{
  text-align: right;
  width: 30%;
  padding-left: 50%;

}

.left-side-text{
  text-align: left;

}

.right-inline-image{

}

.content-separator{

}

.website-link{

}

.website-logo{

}

/*
=============================================================================================
ID
---
*/
#mylogo{

}

#pwd{

}

#login{

}

#front{

}

#education{

}

#work{

}

#project{

}

#certification{

}

#skills{

}

#social{

}

#empt{

}

#carleton{

}

#web-project{

}

#software-project{

}

#system-project{

}

#hd-project{

}

#tty-log{

}

#learning{

}

#certif-list{

}

#hdware{

}

#skills{

}

table#skill-table{
  

}

#end{

}

#feedback{

}

#social{

}


/*
===============================================================================================
Custom Rules
-------------
*/
@font-face {
  font-family: Monoid;
  src: url();
}

@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);


/*
=============================================================================================
Attributes
-----------
We just use those to target specific elements without needing to modify the html structure.
In case I have to modify the style of the link here is the template
[attribute]{
}
element[attribute]{
}
element[attribute*="str"]{        the style will be applied to any value containing the str

} 

element[attribute="value"]{       the style will be applied to the exact value

}
element[attribute$="end-str"]{

}
element[attribute~="str"]{        the style will be applied whenever str is exactly a string of the value(!= contains) It is better used for classes and stuff with multiple values

}

There is a ton to learn about that
*/

