*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aquamarine;
  font-weight: bolder;  

}

/*
==============================================================================================
block-elements 
---------------
*/
body{
  background-image: url("Media/632692.jpg");
  background-color: black;

}

header{ 
  background-color: greenyellow;
  opacity: 70%;
  padding: 30px;
  

}

div{

}

form{

}

nav{

}

ul{

}

main{

}

section{

}

article{

}

ol{

}

/*
=============================================================================================
medias
--------
*/
img{

}

/*
=============================================================================================
inline-elements
---------------
*/
label{

}

input{

}

li{

}

a{

}

h1{

}

h4{

}

span{

}

hr{

}

h2{

}

h3{

}

p{
  color:light-green;
  font-family:;
  font:;
  font-size:9;
}

/*
=============================================================================================
 Classes
---------
*/
.media{

}

.logo{

}

.button{

}

.content-container{

}

.section-title{

}

.title{

}

.title-description{

}

.left-inline-image{

}

.right-side-text{

}

.left-side-text{

}

.right-inline-image{

}

.content-separator{

}

.website-link{

}

.website-logo{

}

/*
=============================================================================================
ID
---
*/
#mylogo{

}

#pwd{

}

#login{

}

#front{

}

#education{

}

#work{

}

#project{

}

#certification{

}

#skills{

}

#social{

}

#empt{

}

#carleton{

}

#web-project{

}

#software-project{

}

#system-project{

}

#hd-project{

}

#tty-log{

}

#learning{

}

#certif-list{

}

#hdware{

}

#skills{

}

#skill-table{

}

#end{

}

#feedback{

}

#social{

}


/*
===============================================================================================
Custom Rules
-------------
*/
@font-face {
  font-family: Monoid;
  src: url();
}

@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);


/*
=============================================================================================
Attributes
-----------
*/


