body{
  background-color: lightgreen;
}

main{
  background-color: grey;
  padding: 100px;
}


table, th, td, tr {
  border: 1px solid;
  width: fit-content;
  

}

.front{
  background-color: aquamarine;
}
