//group
*{
  font-family:;
}

//=============================================================================================
//block-elements 
//---------------
body{

}

header{

}

div{

}

form{

}

nav{

}

ul{

}

main{

}

section{

}

article{

}

ol{

}

//==============================================================================================
//medias
//-------
img{

}

//==============================================================================================
//inline-elements
//---------------
label{

}

input{

}

li{

}

a{

}

h1{

}

h4{

}

span{

}

hr{

}

h2{

}

h3{

}

p{
  color:light-green;
  font-family:;
  font:;
  font-size:9;
}

//================================================================================================
// Classes
//---------
.Logo{

}

.front{

}

.Logo{

}

.Logo {

}

.Logo {

}

//=======================


