/*Always set the dimensions of the containing box with no width margin are gonna be innacurate */


/*Vertical Margin collapse the bigger margin will be respected */
html{
  height: 100%;
  margin: 0;
  padding: 0;
}

*{
  color: brown;
  border: 1px dotted red;
}

body{
  background-color: antiquewhite;
  height: 100%;
  margin: auto;
  padding: auto;
  background-image: url(Media/techculture.png);
  background-size: cover;
}

main{
  padding: 15px;
  margin: 10px;
  border-radius: ;
}

header{
  /*border: 1px solid red;*/
  margin: 2%;
  padding: 1%;
  background-color: burlywood;
  background: linear-gradient(-45deg,whitesmoke,burlywood);
  border-radius: 30px;
  height: 30%;
  
}

#login{
  float: right;
  padding: 2px; 
}

.credentials{
  margin: 2px;
  padding: 4px;
}

.login-button{
  margin: 2px;
}
input{
  color: black;
}

#mylogo{
  margin: 10px;
  border: 1px solid yellow;
  width: 60px;
  height: 60px;

}

input{
  float: right;
}
.login-button{
  float: right;
}

h1,h4,h2,h6{
  text-align: center;
}

#front{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 10px auto;

  background-color: ;
}

#front h1, h4{
  text-align: center;
  border: 4px solid white;
  width: 100%;
  margin: auto auto;
}
img{}









/*
===============================================================================================
Custom Rules
-------------
*/
@font-face {
  font-family: Monoid;
  src: url();
}

@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);


/*
=============================================================================================
Attributes
-----------
We just use those to target specific elements without needing to modify the html structure.
In case I have to modify the style of the link here is the template
[attribute]{
}
element[attribute]{
}
element[attribute*="str"]{        the style will be applied to any value containing the str

} 

element[attribute="value"]{       the style will be applied to the exact value

}
element[attribute$="end-str"]{

}
element[attribute~="str"]{        the style will be applied whenever str is exactly a string of the value(!= contains) It is better used for classes and stuff with multiple values

}

There is a ton to learn about that
*/

